/* -------------- VARIABLE ---------------- */
/* =index */
$indexHeader = 12000
$indexFooter = 11000
$indexBody = 10000
$indexBacktop = 1001
/* animation */
$animateTime = 0.3s
$opacity = 0.8
/* =font */
$fontBody = larabie
$fontTitle = aftommy
$fontCode = monaco
$fontBackup = "微软雅黑" arial "黑体"
/* =color */
/* ==background */
$colorBlack = black
$colorWhite = white
$colorGray = gray
$colorBg = #333333
$colorHeader = #1F1C1C
$colorBody = #392020
$colorCode = #220000
/* ==font */
$colorText = #D8D3D3
$colorTextHover = #F4F1F1
$colorTitleLink = #A03030
$colorTitleLinkHover = #1DA8A8
$colorLink = #00A09A
$colorLinkHover = #F03030
$colorArticle = #E7E0E0
/* =img */
$imgBase = "/img/"
$imgBg = $imgBase + "bg.png"
$imgList = $imgBase + "list.png"
/* =size */
$sizeContentWidthPer = 80% 85% 90% 95% 100%
$sizeLeftWidth = 300px 180px 80px 10px 0
$sizeImgMaxWidth = 100% 260px 30%
$sizeMinWidth = 240px
$sizeHeaderHeight = 40px
$sizeTitleHeight = 24px
$sizeNavHeight = 20px
$sizeCategoryHeight = 30px
$sizeArticleLineHeight = 30px
$sizeCodeLineHeight = 20px
$sizeFooterHeight = 40px 60px
$sizeBarHeight = 50px
$sizeCodeMaxHeight = 500px
$sizeArticleTop = 70px
$sizeSectionTop = 40px
$sizeTextRight = 20px
$sizeTextTop = 10px
$sizeBarIndent = 40px
$sizeArticleIndent = 28px

$sizeMargin = 5px
$sizePhoneMargin = 10px
$sizeBorder = 2px
$sizeShadow = 5px
$sizeLetterSpace = 1px
$sizeLinePadding = 8px
/* =font size */
$remBar = 1.5rem 1rem
$remArticle = 0.9rem
$remTitle = 1.1rem
$remIcon = 1.4rem
$remSmall = 0.7rem
/* -------------- FUNCTION ---------------- */
fontFace(p_font)
    @font-face
        font-family p_font
        src url(/font/p_font.ttf) format("truetype")
selection(p_bg=false, p_text=false, p_target='')
    {p_target}::selection
        if p_bg
            background p_bg
        if p_text
            color p_text
    {p_target}::-moz-selection
        if p_bg
            background p_bg
        if p_text
            color p_text
shadow(p_attr)
    -webkit-box-shadow p_attr
    -moz-box-shadow p_attr
    -ms-box-shadow p_attr
    -o-box-shadow p_attr
    box-shadow p_attr
transition(p_attr)
    -webkit-transition p_attr
    -moz-transition p_attr
    -ms-transition p_attr
    -o-transition p_attr
    transition p_attr
responsive(p_index)
    header #top,
    main, footer
        width $sizeContentWidthPer[p_index]
    main dl dd
        margin-left $sizeLeftWidth[p_index]
    main aside
        width $sizeLeftWidth[p_index]
    footer #backtop
        width: 100 - $sizeContentWidthPer[p_index]
    if p_index > 2
        header
            position absolute
/* ---------------- STYLE ----------------- */
/* =web font */
fontFace($fontBody)
fontFace($fontTitle)
fontFace($fontCode)
/* =tools */
/* ==for html5 tags */
article, aside, figcaption, figure, dialog, time,
footer, header, nav, section, main
    display block
/* ==reset style */
html,body
    height 100%
    width 100%
    padding 0
    margin 0
    font-family $fontBackup
    font-size 100%
    line-height 1
blockquote, q
    quotes none
    &:after, &:before
        content ''
        content none
table
    border-collapse collapse
    border-spacing 0
/* ==clear chrome style */
input, textarea, select, a, button
    outline none
/* ==clearfix float */
.clearfix:after
    content "."
    display block
    height 0
    clear both
    visibility hidden
/* =initialize */
a
    &, &:link, &:visited
        color $colorText
        text-decoration none
    &:hover
        color $colorTextHover
body
    background $colorBg url($imgBg) repeat
    font-family $fontBody
    color $colorArticle
hr
    border 0
    clear both
selection($colorLink, white)
/* =layout */
/* ==header */
header
    position fixed
    z-index $indexHeader
    top 0
    left 0
    width 100%
    background $colorHeader
    font-family $fontTitle
    shadow(0 0 $sizeShadow $colorBlack)
#top
    position: relative
    height: $sizeHeaderHeight
    width: $sizeContentWidthPer[0]
    a
        &, &:link, &:visited
            color $colorTitleLink
        &:hover
            color $colorTitleLinkHover
        h1
            display inline-block
            line-height $sizeTitleHeight
            margin-top $sizeHeaderHeight - $sizeTitleHeight
            font-size $sizeTitleHeight
    nav
        position absolute
        top 0
        right 0
        transition(height $animateTime)
        a
            padding-bottom $sizeHeaderHeight - $sizeNavHeight
            line-height $sizeNavHeight
            margin 0 $sizeMargin
            #list
                display none
#logo
    .logo-patial
        &.logo-left
            transform rotate(120deg)
        &.logo-right
            transform rotate(-120deg)
        &:after
            font-family fantasy
            font-size 2em
            content 'Z'
/* ==body */
main
    position relative
    float left
    overflow hidden
    z-index $indexBody
    top 0
    left 0
    min-height 100%
    width $sizeContentWidthPer[0]
    margin-top $sizeHeaderHeight
    background $colorBody
    opacity: $opacity
    shadow(0 0 $sizeShadow $colorBlack)
    transition(padding $animateTime)
    aside
        position absolute
        top $sizeHeaderHeight
        left 0
        width $sizeLeftWidth[0]
        text-align left
        ul
            list-style none
            padding 0
            li
                padding $sizeBorder 0
    dl
        margin 0 0 $sizeFooterHeight[0]
        text-align right
        dt
            line-height $sizeCategoryHeight
            font-size $sizeCategoryHeight
            padding $sizeArticleTop $sizeMargin $sizeMargin
            border-bottom $sizeBorder solid $colorText
            font-weight bold
            color $colorText
            h1
                font-size $remTitle
        dd
            min-height $sizeBarHeight
            margin-left $sizeLeftWidth[0]
            margin-top $sizeSectionTop*.5
            margin-bottom $sizeSectionTop*.5
            padding-bottom $sizeSectionTop*.5
            border-bottom $sizeBorder solid $colorText
            &:last-child
                border 0
            a
                time, label
                    float left
                    display inline
                    line-height $sizeBarHeight
                    font-weight normal
                h4
                    overflow hidden
                    padding-right $sizeBarIndent
                    margin 0
                    line-height $sizeBarHeight
                    font-size $remBar[0]
                    font-weight normal
                    transition(padding $animateTime)
                    &:hover
                        padding-right: $sizeMargin
            article
                overflow hidden
                text-align left
                font-size $remArticle
                font-family $fontBackup
                line-height $sizeArticleLineHeight
                letter-spacing $sizeLetterSpace
                word-wrap break-word
                color $colorArticle
                &.excerpt
                    img
                        max-width $sizeImgMaxWidth[2]
                    h1,h2,h3,h4,h5,h6
                        font-size 1rem
                time
                    padding 0 $sizeMargin
                    text-align right
                    color $colorText
                img
                    float left
                    margin-right $sizeTextRight
                    margin-top $sizeTextTop
                    max-width $sizeImgMaxWidth[0]
                h1
                    font-size 2rem
                h2
                    font-size 1.8rem
                h3
                    font-size 1.6rem
                h4
                    font-size 1.4rem
                h5
                    font-size 1.3rem
                h6
                    font-size 1.2rem
                h1,h2,h3,h4,h5,h6
                    color $colorWhite
                p
                    padding $sizeMargin
                    margin 0
                    text-indent $sizeArticleIndent
                a
                    &, &:link, &:visited
                        color $colorLink
                        text-decoration underline
                    &:hover
                        color $colorLinkHover
                pre
                    overflow auto
                    max-height $sizeCodeMaxHeight
                    padding $sizeTextTop 0
                    line-height $sizeCodeLineHeight
                code
                    padding 0 $sizeTextRight
                    background $colorCode
                    font-family $fontCode
                blockquote
                    background darken($colorArticle, 70%)
                    border-left $sizeBorder solid darken($colorLink, 20%)
                    margin-left 0
                    padding-left 20px
            .comment
                padding-top $sizeSectionTop*0.5
                margin-top $sizeSectionTop*0.5
                border-top $sizeBorder solid $colorText
/* =footer */
footer
    float left
    position relative
    z-index $indexFooter
    left 0
    bottom $sizeFooterHeight[0]
    height $sizeFooterHeight[0]
    width $sizeContentWidthPer[0]
    #backtop
        display none
        float left
        position fixed
        z-index $indexBacktop
        right 0
        bottom 0
        height $sizeFooterHeight[0]
        width 100% - $sizeContentWidthPer[0]
        line-height $sizeFooterHeight[0] + 20px
        text-align center
        font-size $remIcon
        background $colorHeader
    address
        text-align right
        font-family $fontTitle
        font-size $remSmall
        p
            line-height $sizeFooterHeight*.5
            padding 0 $sizeLinePadding
            margin 0
            span, a
                padding 0 $sizeMargin
                color $colorText
                img
                    height $sizeFooterHeight*.4
            a:link, a:visited
                color $colorText
/* =responsive */
@media all and (min-width: 1025px) and (max-width: 1280px)
    responsive(1)
@media all and (min-width: 641px) and (max-width: 1024px)
    responsive(2)
@media all and (min-width: 321px) and (max-width: 640px)
    responsive(3)
@media all and (max-width: 320px)
    responsive(4)
@media all and (min-width: 641px) and (max-width: 900px)
    header #top nav a
        margin 0
        font-size $remSmall
    main dl dd a h4
        font-weight bold
@media all and (max-width: 640px)
    header #top
        min-width $sizeMinWidth
        width $sizeContentWidthPer[4]
        margin $sizePhoneMargin 0
        a
            h1
                margin-top $sizePhoneMargin
        nav
            overflow hidden
            position static
            height 0
            width 100%
            margin 0
            background $colorHeader
            a
                display block
                height $sizeHeaderHeight
                line-height $sizeHeaderHeight
                padding 0
                &:hover
                    background $colorGray
        #list
            display block
            position absolute
            right $sizeMargin
            top 0
            height $sizeHeaderHeight
            width $sizeHeaderHeight
            background url($imgList) no-repeat center center
            opacity $opacity
            &:hover
                opacity 1
    main dl
        margin $sizeFooterHeight[0] 0 $sizeFooterHeight[1]
        dd
            min-width $sizeMinWidth
            a
                h4
                    font-size $remBar[1]
                time
                    display none
            article
                font-size $remSmall
                time
                    padding $sizePhoneMargin
                &.excerpt
                    img
                        display block
                        float none
                        max-width $sizeImgMaxWidth[1]
                        width $sizeImgMaxWidth[1]
                        margin 0 auto
    footer
        bottom $sizeFooterHeight[1]
        height $sizeFooterHeight[1]
        font-size $remSmall
        #backtop
            min-width: 270 - $sizeMinWidth
