@charset: "utf-8";
/*
 redtea
 auther tychio [z@zzz.gs]
*/
/* COMMON */
/*font*/
@font-face{
    font-family: "aviel";
    src: url(/font/Aviel.ttf) format("truetype");
};
@font-face{
    font-family: "AF TOMMY HILFIGER";
    src: url(/font/AFTOM.TTF) format("truetype");
};
@font-face{
    font-family: "monaco";
    src: url(/font/monaco.ttf.ttf) format("truetype");
};
/*clearfix*/
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
/*html5*/
article, aside, figcaption, figure, dialog, time,
footer, header, nav, section{
    display: block;
}
/* RESET */
body, html{ height: 100%; width: 100%; padding: 0; margin: 0; }
a, a:link, a:visited{ color: #AA9999; text-decoration: none; }
a:hover{ color: #CCBBBB; }
/* LAYOUT */
body{ background: #333 url(/img/bg.png) repeat; font-family: "aviel", "微软雅黑", arial; font-size: 16px; }
/* =header*/
header{ position: fixed; z-index: 10000; top: 0; left: 0; height: 40px; width: 100%; background: #1F1C1C; font-family: "AF TOMMY HILFIGER", arial;
    -webkit-box-shadow: 0 0 5px #000;
       -moz-box-shadow: 0 0 5px #000;
        -ms-box-shadow: 0 0 5px #000;
         -o-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000; }
header div#top{ position: relative; min-width: 1080px; width: 80%; }
header div#top a,
header div#top a:link,
header div#top a:visited{ color: #902020; }
header div#top a:hover{ color: #A03030; }
/* ==title*/
header div#top h1{ display: inline-block; line-height: 20px; margin: 16px 2px 0 0; font-size: 24px; }
/* ==nav*/
header div#top nav{ position: absolute; top: 0; right: 0; margin: 0 2px; }
header div#top nav a{ padding-bottom: 20px; line-height: 20px; margin: 0 5px; }
/* =section*/
section{ position: relative; overflow: hidden; top: 0; left: 0; min-height: 100%; min-width: 1080px; width: 80%; padding: 40px 0; background: #392020; opacity: 0.8; filter: alpha(opacity=80);
    -webkit-box-shadow: 0 0 5px #000;
       -moz-box-shadow: 0 0 5px #000;
        -ms-box-shadow: 0 0 5px #000;
         -o-box-shadow: 0 0 5px #000;
            box-shadow: 0 0 5px #000; }
/* ==list*/
section dl{ text-align: right; color: #AA9999; font-size: 24px; }
section dl dt{ line-height: 30px; font-size: 18px; padding: 70px 5px 5px; margin-bottom: 10px; border-bottom: 2px solid #AA9999; font-weight: bold; }
section dl dd{ min-height: 40px; margin-left: 300px; }
section dl dd a time{ float: left; display: inline; line-height: 50px; font-size: 18px; font-weight: normal; }
section dl dd a h4{ overflow: hidden; padding: 5px 40px 5px 0; margin: 0; line-height: 40px; font-size: 28px; font-weight: normal;
    -webkit-transition: padding 0.3s;
       -moz-transition: padding 0.3s;
        -ms-transition: padding 0.3s;
         -o-transition: padding 0.3s;
            transition: padding 0.3s; }
section dl dd a:hover h4{ padding-right: 5px; }
/* ==article*/
section dl dd article{ overflow: hidden; text-align: left; font-size: 14px; line-height: 30px; font-family: "微软雅黑", arial; letter-spacing: 1px; word-wrap: break-word;}
section dl dd article time{ padding: 0 5px; text-align: right; line-height: 30px; font-size: 16px; }
section dl dd article img{ float: left; margin: 10px 20px 0 0; max-width: 100%; }
section dl dd article p{ padding: 5px; margin: 0; text-indent: 28px; }
section dl dd article a,
section dl dd article a:link,
section dl dd article a:visited{ color: #A00000; text-decoration: underline; }
section dl dd article a:hover{ color: #F03030; }
section dl dd article pre{ overflow: auto; max-height: 500px; padding: 10px 20px; line-height: 20px; background: #220000; }
section dl dd article pre code{ font-family: "monaco", arial; }
/* =footer*/
footer{ position: relative; left: 0; bottom: 40px; height: 40px; min-width: 1080px; width: 80%; }
footer a#backtop{ display: none; float: left; position: fixed; z-index: 1001; right: 10px; bottom: 100px; height: 30px; width: 60px; line-height: 45px; text-align: center; font-size: 24px; background: #1F1C1C; }

/* responsive */
@media all and (min-width: 1025px) and (max-width: 1280px) {
    header div#top,
    section, footer{ min-width: 840px; width: 85%; }
    section dl dd{ margin-left: 180px; }
}
@media all and (min-width: 641px) and (max-width: 1024px) {
    header div#top,
    section, footer{ min-width: 540px; }
    section dl dd{ margin-left: 80px; }
}
@media all and (min-width: 361px) and (max-width: 900px) {
    header div#top nav a{ margin: 0; font-size: 12px; }
    section dl dd a h4{ font-weight: bold; }
}
@media all and (min-width: 361px) and (max-width: 640px) {
    header{ padding: 20px 0; }
    header div#top nav{ width: 100%; top: 100px; }
    section dl dd{ margin-left: 10px; }
    section dl dd article{ line-height: 36px; }
    section dl dd article time{ padding: 10px; }
}
@media all and (max-width: 360px) {
    header{ padding: 20px 0; }
    header div#top nav{ overflow: hidden; top: 60px; height: 0; width: 100%; background: #1F1C1C; }
    header div#top nav a{ display: block; height: 80px; line-height: 100px; }
    section dl dt{ padding-bottom: 20px; }
    section dl dd{ margin-left: 10px; }
    section dl dd a h4{ font-weight: bold; padding: 20px; }
    section dl dd article{ line-height: 42px; font-size: 12px; }
    section dl dd article time{ padding: 10px; }
}