/* Tychio [code@tychio.net]
 * 2013.9.10
 */
@font-face{font-family:aviel;src:url("/font/aviel.ttf") format("truetype")}
@font-face{font-family:aftommy;src:url("/font/aftommy.ttf") format("truetype")}
@font-face{font-family:monaco;src:url("/font/monaco.ttf") format("truetype")}
article,aside,figcaption,figure,dialog,time,footer,header,nav,section,main{display:block}
html,body{height:100%;width:100%;padding:0;margin:0;font-family:"微软雅黑" arial "黑体";font-size:100%;line-height:1}
blockquote,q{quotes:none;}
blockquote:after,q:after,blockquote:before,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
input,textarea,select,a,button{outline:none}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a,a:link,a:visited{color:#d8d3d3;text-decoration:none}
a:hover{color:#f4f1f1}
body{background:#333 url("/img/bg.png") repeat;font-family:aviel;color:#e7e0e0}
hr{border:0;clear:both}
header{position:fixed;z-index:12000;top:0;left:0;width:100%;background:#1f1c1c;font-family:aftommy;-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;-ms-box-shadow:0 0 5px #000;-o-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;}
header div#top{position:relative;height:40px;width:80%;}
header div#top a,header div#top a:link,header div#top a:visited{color:#a03030}
header div#top a:hover{color:#1da8a8}
header div#top a h1{display:inline-block;line-height:24px;margin-top:16px;font-size:24px}
header div#top nav{position:absolute;top:0;right:0;-webkit-transition:height .3s;-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;transition:height .3s;}
header div#top nav a{padding-bottom:20px;line-height:20px;margin:0 5px;}
header div#top nav a #list{display:none}
main{position:relative;float:left;overflow:hidden;z-index:10000;top:0;left:0;min-height:100%;width:80%;background:#392020;opacity:.8;-webkit-box-shadow:0 0 5px #000;-moz-box-shadow:0 0 5px #000;-ms-box-shadow:0 0 5px #000;-o-box-shadow:0 0 5px #000;box-shadow:0 0 5px #000;-webkit-transition:padding .3s;-moz-transition:padding .3s;-ms-transition:padding .3s;-o-transition:padding .3s;transition:padding .3s;}
main aside{position:absolute;top:40px;left:0;width:300px;text-align:left;}
main aside ul{list-style:none;padding:0;}
main aside ul li{padding:2px 0}
main dl{margin:40px 0 40px;text-align:right;}
main dl dt{line-height:30px;font-size:30px;padding:70px 5px 5px;border-bottom:2px solid #d8d3d3;font-weight:bold;color:#d8d3d3;}
main dl dt h1{font-size:1.1rem}
main dl dd{min-height:50px;margin-left:300px;}
main dl dd a time{float:left;display:inline;line-height:50px;font-weight:normal}
main dl dd a h4{overflow:hidden;padding-right:40px;margin:0;line-height:50px;font-size:1.2rem;font-weight:normal;-webkit-transition:padding .3s;-moz-transition:padding .3s;-ms-transition:padding .3s;-o-transition:padding .3s;transition:padding .3s;}
main dl dd a h4:hover{padding-right:5px}
main dl dd article{overflow:hidden;text-align:left;font-size:.9rem;font-family:"微软雅黑" arial "黑体";line-height:30px;letter-spacing:1px;word-wrap:break-word;color:#e7e0e0;}
main dl dd article time{padding:0 5px;text-align:right;color:#d8d3d3}
main dl dd article img{float:left;margin-right:20px;margin-top:10px;max-width:100%}
main dl dd article h1{font-size:2rem}
main dl dd article h2{font-size:1.8rem}
main dl dd article h3{font-size:1.6rem}
main dl dd article h4{font-size:1.4rem}
main dl dd article h5{font-size:1.3rem}
main dl dd article h6{font-size:1.2rem}
main dl dd article h1,main dl dd article h2,main dl dd article h3,main dl dd article h4,main dl dd article h5,main dl dd article h6{color:#fff}
main dl dd article p{padding:5px;margin:0;text-indent:28px}
main dl dd article a,main dl dd article a:link,main dl dd article a:visited{color:#00a09a;text-decoration:underline}
main dl dd article a:hover{color:#f03030}
main dl dd article pre{overflow:auto;max-height:500px;padding:10px 20px;line-height:20px;background:#200;}
main dl dd article pre code{font-family:monaco}
main dl dd article blockquote{background:#4d3c3c;border-left:2px solid #00807b;margin-left:0;padding-left:20px}
main dl dd div.comment{padding-top:20px;margin-top:20px;border-top:2px solid #d8d3d3}
footer{float:left;position:relative;z-index:11000;left:0;bottom:40px;height:40px;width:80%;}
footer a#backtop{display:none;float:left;position:fixed;z-index:1001;right:0;bottom:0;height:40px;width:20%;line-height:60px;text-align:center;font-size:1.4rem;background:#1f1c1c}
footer address{text-align:right;font-family:aftommy;font-size:.7rem;}
footer address p{line-height:20px;padding:0 8px;margin:0;}
footer address p span,footer address p a{padding:0 5px;color:#d8d3d3;}
footer address p span img,footer address p a img{height:16px}
footer address p a:link,footer address p a:visited{color:#d8d3d3}
@media all and (min-width: 1025px) and (max-width: 1280px){header div#top,main,footer{width:85%}
main dl dd{margin-left:180px}
main aside{width:180px}
footer a#backtop{width:15%}
}@media all and (min-width: 641px) and (max-width: 1024px){header div#top,main,footer{width:90%}
main dl dd{margin-left:80px}
main aside{width:80px}
footer a#backtop{width:10%}
}@media all and (min-width: 321px) and (max-width: 640px){header div#top,main,footer{width:95%}
main dl dd{margin-left:10px}
main aside{width:10px}
footer a#backtop{width:5%}
header{position:absolute}
}@media all and (max-width: 320px){header div#top,main,footer{width:100%}
main dl dd{margin-left:0}
main aside{width:0}
footer a#backtop{width:0%}
header{position:absolute}
}@media all and (min-width: 641px) and (max-width: 900px){header div#top nav a{margin:0;font-size:.7rem}
main dl dd a h4{font-weight:bold}
}@media all and (max-width: 640px){header div#top{min-width:240px;width:100%;margin:10px 0;}
header div#top a h1{margin-top:10px}
header div#top nav{overflow:hidden;position:static;height:0;width:100%;margin:0;background:#1f1c1c;}
header div#top nav a{display:block;height:40px;line-height:40px;padding:0;}
header div#top nav a:hover{background:#808080}
header div#top a#list{display:block;position:absolute;right:5px;top:0;height:40px;width:40px;background:url("/img/list.png") no-repeat center center;opacity:.8;}
header div#top a#list:hover{opacity:1}
main dl{margin:40px 0 60px;}
main dl dd{min-width:240px;}
main dl dd a h4{font-size:1rem}
main dl dd a time{display:none}
main dl dd article{font-size:.7rem;}
main dl dd article time{padding:10px}
footer{bottom:60px;height:60px;font-size:.7rem;}
footer a#backtop{min-width:30px}
}