<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <header>
        <div id="top">
            <a href="/"><h1>Tychio's Blog</h1></a>
            <nav>
                <a href="https://twitter.com/tychio">Twitter</a>
                <a href="http://www.facebook.com/zzztychio">Facebook</a>
                <a href="https://github.com/tychio">Github</a>
            </nav>
        </div>
    </header>
    <section>{{ content }}
    </section>
    <footer></footer>
</body>
</html>
