<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css?v=4">
</head>
<body>
    <header>
        <div id="top">
            <a href="/"><h1>Tychio's Blog</h1></a>
            <nav>
                <a href="/technology.html">Tech</a>
                <a href="/design.html">Design</a>
                <a href="/book.html">Book</a>
                <a href="/other.html">Other</a>
                <a href="/about.html">About</a>
                <a href="/feed.xml">Feed</a>
            </nav>
        </div>
    </header>
    <section>{{ content }}
    </section>
    <footer>
        <a href="#" id="backtop">&#94;</a>
    </footer>
    <script>
      (function () {
        //nav
        var list = document.getElementById('list');
        list.onclick = function () {
          var _nav = document.getElementsByTagName('nav')[0];
          if (_nav.style.height == 0) {
            _nav.style.height = 'auto';
          } else {
            _nav.style.height = 0;
          }
        };
        //backtop
        function scrollTop (p_top) {
          var body = document.body;
          if (typeof body.scrollTop == 'undefined' || body.scrollTop == 0) {
            body = document.documentElement;
          }
          if (p_top && !isNaN(p_top - 0)) {
            body.scrollTop = p_top;
          } else {
            return body.scrollTop;
          }
        }
        var backtop = document.getElementById('backtop');
        var interval = 0;
        window.onscroll = function () {
          var _top = scrollTop();
          if (_top > 400) {
            backtop.style.display = 'block';
          } else {
            backtop.style.display = 'none';
          }
        };
        backtop.onclick = function (p_event) {
          interval = setInterval(function () {
            var _top = scrollTop();
            scrollTop(_top - 300);
            if (_top <= 0) {
              scrollTop(0);
              clearInterval(interval);
            }
          }, 50);
          p_event.preventDefault ? p_event.preventDefault() : event.returnValue = false;
        };
      })();
      //ga
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40505829-1', 'tychio.net');
      ga('send', 'pageview');
    </script>
</body>
</html>
